<!-- app/views/qr_codes/new.html.erb -->
<div class="bg-white rounded-lg shadow-md p-6 mb-8">
  <h1 class="text-3xl font-serif text-blue-900 mb-6">Create QR Code</h1>

  <%= render 'form', qr_code: @qr_code %>
</div>
